<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.jaekyeom.alfred-typora-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3104666-2863-4F8D-A35A-CDAC567E7966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>342DB1B6-492B-4C31-84DE-85DF037E6CA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B200672-2C74-4474-96C9-99BC42F29DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C100874B-2548-438A-825A-E581B37D46D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>15A94388-7344-4067-8914-E4A7F58CE782</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3104666-2863-4F8D-A35A-CDAC567E7966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAE095B0-A445-46CC-95C7-6B1905922C38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C100874B-2548-438A-825A-E581B37D46D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAE095B0-A445-46CC-95C7-6B1905922C38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaekyeom Kim</string>
	<key>description</key>
	<string>Search Typora documents</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Typora Documents</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./focus-doc.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B200672-2C74-4474-96C9-99BC42F29DBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ty</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Typora documents...</string>
				<key>script</key>
				<string>./list-docs.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Typora documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3104666-2863-4F8D-A35A-CDAC567E7966</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isOpen}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>activateOpenFile</string>
						<key>uid</key>
						<string>C100874B-2548-438A-825A-E581B37D46D5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>openFileFromDisk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Typora.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./close-doc.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EAE095B0-A445-46CC-95C7-6B1905922C38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>ty </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reopenSearch</string>
						<key>outputlabel</key>
						<string>reopenSearch</string>
						<key>uid</key>
						<string>15A94388-7344-4067-8914-E4A7F58CE782</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>noAction</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isOpen}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>closeOpenFile</string>
						<key>uid</key>
						<string>C100874B-2548-438A-825A-E581B37D46D5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>noAction</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/jaekyeom/alfred-typora-workflow

Usage
- `ty {query}`: Query Typora documents.
  - `↩`: Open/activate the selected document.
  - `⌥ + ↩`: Close the selected document (if it's open).
  - `⌘ + ↩`: Reveal file in Finder.

Configurations
- `LIST_ONLY_OPEN_DOCS`: If set to 0 (default), it queries open documents and markdown files from the parent Git repositories or directories. If set to 1, it only queries open documents.</string>
	<key>uidata</key>
	<dict>
		<key>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>342DB1B6-492B-4C31-84DE-85DF037E6CA0</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>7B200672-2C74-4474-96C9-99BC42F29DBE</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>A3104666-2863-4F8D-A35A-CDAC567E7966</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>EAE095B0-A445-46CC-95C7-6B1905922C38</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LIST_ONLY_OPEN_DOCS</key>
		<string>0</string>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/jaekyeom/alfred-typora-workflow</string>
</dict>
</plist>
