<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.jaekyeom.alfred-typora-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03FA9BEF-983A-4C4C-B2A2-D4870B876110</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>062838FA-C871-4853-B526-60BAB97AC543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A99F144-32E0-4D8B-8916-F8CB89CD6243</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A528F90-202A-451C-8C52-B4999B82D4DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3104666-2863-4F8D-A35A-CDAC567E7966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D691548-8E9B-4AF7-B201-92E19A24C93D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7B25714-FB21-4CBE-A5EB-5255A8134AB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EBFF4DC-7CE5-418A-B4DD-3857D32EA74E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EC2FFB0-C897-4A6A-8822-541B205550AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAF312A6-04FE-4751-9A51-D569082E4804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E680974-10A0-46F4-880D-831D7A5082D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A34F6C8F-CF41-40A6-A587-51A5DACA8F96</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A9645C9-0F91-48F0-973C-C2F7D6226ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33810977-7584-4152-BD77-73419EDC79FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46D1DFFD-DAE7-4498-A4FA-347106FF6178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>342DB1B6-492B-4C31-84DE-85DF037E6CA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B200672-2C74-4474-96C9-99BC42F29DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C100874B-2548-438A-825A-E581B37D46D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E680974-10A0-46F4-880D-831D7A5082D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46D1DFFD-DAE7-4498-A4FA-347106FF6178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28F7DE97-5ED2-4148-B59F-126E67492DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EBFF4DC-7CE5-418A-B4DD-3857D32EA74E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>15A94388-7344-4067-8914-E4A7F58CE782</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0AB4D3A-AAF1-470B-8AC6-B4B2E5CD3201</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3104666-2863-4F8D-A35A-CDAC567E7966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03FA9BEF-983A-4C4C-B2A2-D4870B876110</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28F7DE97-5ED2-4148-B59F-126E67492DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7B25714-FB21-4CBE-A5EB-5255A8134AB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28F7DE97-5ED2-4148-B59F-126E67492DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0AB4D3A-AAF1-470B-8AC6-B4B2E5CD3201</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAC5A293-8F16-4E28-81E8-CCC904B32768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE8988E0-FFB8-4BB6-8CEA-CA85823208A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAE095B0-A445-46CC-95C7-6B1905922C38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C100874B-2548-438A-825A-E581B37D46D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE8988E0-FFB8-4BB6-8CEA-CA85823208A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28F7DE97-5ED2-4148-B59F-126E67492DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A528F90-202A-451C-8C52-B4999B82D4DD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAF312A6-04FE-4751-9A51-D569082E4804</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>062838FA-C871-4853-B526-60BAB97AC543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAE095B0-A445-46CC-95C7-6B1905922C38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaekyeom Kim</string>
	<key>description</key>
	<string>Workflow for Typora</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Typora Documents</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ty</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Typora documents...</string>
				<key>script</key>
				<string>./list-docs.js 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Typora documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3104666-2863-4F8D-A35A-CDAC567E7966</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./focus-doc.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B200672-2C74-4474-96C9-99BC42F29DBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>start_keyword</key>
					<string>ty</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03FA9BEF-983A-4C4C-B2A2-D4870B876110</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ty*</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Typora documents and other files from the same directories...</string>
				<key>script</key>
				<string>./list-docs.js 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Typora documents and other files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7B25714-FB21-4CBE-A5EB-5255A8134AB5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Typora.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D691548-8E9B-4AF7-B201-92E19A24C93D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isOpen}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>activateOpenFile</string>
						<key>uid</key>
						<string>C100874B-2548-438A-825A-E581B37D46D5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>openFileFromDisk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>342DB1B6-492B-4C31-84DE-85DF037E6CA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/jaekyeom/alfred-typora-workflow/master/src/info.plist'
readonly workflow_url='jaekyeom/alfred-typora-workflow'
readonly download_type='github_release'
readonly frequency_check='5'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28F7DE97-5ED2-4148-B59F-126E67492DC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>start_keyword</key>
					<string>ty*</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A0AB4D3A-AAF1-470B-8AC6-B4B2E5CD3201</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*[.]md$</string>
						<key>outputlabel</key>
						<string>openWithTypora</string>
						<key>uid</key>
						<string>A34F6C8F-CF41-40A6-A587-51A5DACA8F96</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>openGeneral</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2E680974-10A0-46F4-880D-831D7A5082D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4A9645C9-0F91-48F0-973C-C2F7D6226ED8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>33810977-7584-4152-BD77-73419EDC79FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tyi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching contents of Typora documents...</string>
				<key>script</key>
				<string>./search-file-contents.js 1 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Contents of Typora documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>46D1DFFD-DAE7-4498-A4FA-347106FF6178</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./close-doc.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EAE095B0-A445-46CC-95C7-6B1905922C38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>start_keyword</key>
					<string>tyi</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1EBFF4DC-7CE5-418A-B4DD-3857D32EA74E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:start_keyword} </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reopenSearch</string>
						<key>outputlabel</key>
						<string>reopenSearch</string>
						<key>uid</key>
						<string>15A94388-7344-4067-8914-E4A7F58CE782</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>noAction</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isOpen}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>closeOpenFile</string>
						<key>uid</key>
						<string>C100874B-2548-438A-825A-E581B37D46D5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>noAction</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AAC5A293-8F16-4E28-81E8-CCC904B32768</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tyi*</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching contents of Typora documents and other files from the same directories...</string>
				<key>script</key>
				<string>./search-file-contents.js 0 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Contents of Typora documents and other files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE8988E0-FFB8-4BB6-8CEA-CA85823208A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>start_keyword</key>
					<string>tyi*</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A528F90-202A-451C-8C52-B4999B82D4DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied markdown link(s) to file(s)!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8A99F144-32E0-4D8B-8916-F8CB89CD6243</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy relative links for Typora</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1EC2FFB0-C897-4A6A-8822-541B205550AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./get-markdown-links-to-files.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DAF312A6-04FE-4751-9A51-D569082E4804</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>062838FA-C871-4853-B526-60BAB97AC543</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/jaekyeom/alfred-typora-workflow

## Usage

### Querying documents

- `ty {query}`: Query Typora documents. It automatically searches the parent Git repositories or directories for markdown files.
- `ty* {query}`: Query Typora documents and all types of files from the parent Git repositories or directories, *regardless of `LIST_ONLY_OPEN_DOCS`*.
- User actions
  - `↩`: Open/activate the selected document or file.
  - `⌥ + ↩`: Close the selected document (if it's open).
  - `⌘ + ↩`: Reveal file in Finder.

### Searching contents of documents

- `tyi {query}`: Search inside (i.e., the contents of) Typora documents. It automatically searches the parent Git repositories or directories for markdown files.
- `tyi* {query}`: Search inside (i.e., the contents of) Typora documents and all types of files from the parent Git repositories or directories, *regardless of `SEARCH_ONLY_OPEN_DOCS_CONTENTS`*.
- User actions
  - `↩`: Open/activate the selected document or file.
  - `⌥ + ↩`: Close the selected document (if it's open).
  - `⌘ + ↩`: Reveal file in Finder.

### Copying relative markdown links to any files/directories

- (Universal) [File Action](https://www.alfredapp.com/blog/tips-and-tricks/file-actions-from-alfred-or-finder/) `Copy relative links for Typora`: Copy markdown link(s) to the given file/directory path(s) relative to Typora's *active* document.
  - One simple use case is pressing `⌘ + ⌥ + \` in Finder and invoking this File Action.
  - It escapes paths and names according to the markdown syntax.
  - It is especially useful for copying links to files that Typora doesn't support the drag-and-drop link insertion from Finder, such as `.docx`, `.tex`, and `.md` files.

## Configurations

- `LIST_ONLY_OPEN_DOCS`: If set to 0 (default), `ty` queries open documents and markdown files from the parent Git repositories or directories. If set to 1, `ty` only queries open documents.
- `NUM_RECENT_DIRS`: The number of recent directories to keep and list files from. Set this to 0 to disable it. 5 by default.
- `SEARCH_ONLY_OPEN_DOCS_CONTENTS`: If set to 0 (default), `tyi` searches the contents of open documents and markdown files from the parent Git repositories or directories. If set to 1, `tyi` only returns open documents.</string>
	<key>uidata</key>
	<dict>
		<key>03FA9BEF-983A-4C4C-B2A2-D4870B876110</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>062838FA-C871-4853-B526-60BAB97AC543</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>0A528F90-202A-451C-8C52-B4999B82D4DD</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>0FFE43CE-5E39-4325-B0E4-F71946DCB6AB</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1D691548-8E9B-4AF7-B201-92E19A24C93D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>1EBFF4DC-7CE5-418A-B4DD-3857D32EA74E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>1EC2FFB0-C897-4A6A-8822-541B205550AE</key>
		<dict>
			<key>note</key>
			<string>Copy the links to the files relative to Typora's active document, in the markdown format.</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>28F7DE97-5ED2-4148-B59F-126E67492DC9</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>2E680974-10A0-46F4-880D-831D7A5082D1</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>33810977-7584-4152-BD77-73419EDC79FE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>342DB1B6-492B-4C31-84DE-85DF037E6CA0</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>46D1DFFD-DAE7-4498-A4FA-347106FF6178</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>4A9645C9-0F91-48F0-973C-C2F7D6226ED8</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>7B200672-2C74-4474-96C9-99BC42F29DBE</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>8A99F144-32E0-4D8B-8916-F8CB89CD6243</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>8E92A3C6-F9D8-4BD8-9CA9-01F8A6ED2F26</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>95F8E1D0-F996-4AF0-9234-2C06F53BC67F</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>A0AB4D3A-AAF1-470B-8AC6-B4B2E5CD3201</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A3104666-2863-4F8D-A35A-CDAC567E7966</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A7B25714-FB21-4CBE-A5EB-5255A8134AB5</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>AAC5A293-8F16-4E28-81E8-CCC904B32768</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C1DF8CF4-5FA8-4EC6-B4E3-C20002B6C98C</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>CC101C23-075F-455A-9A28-3EE6E1FD0C4E</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>CE8988E0-FFB8-4BB6-8CEA-CA85823208A6</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>DAF312A6-04FE-4751-9A51-D569082E4804</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>EAE095B0-A445-46CC-95C7-6B1905922C38</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>FA107BB5-9BD9-4D1E-94F6-1B507A9C0925</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LIST_ONLY_OPEN_DOCS</key>
		<string>0</string>
		<key>NUM_RECENT_DIRS</key>
		<string>5</string>
		<key>SEARCH_ONLY_OPEN_DOCS_CONTENTS</key>
		<string>0</string>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/jaekyeom/alfred-typora-workflow</string>
</dict>
</plist>
